.person{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(248, 209, 164);
    padding: 10px;
    text-align: center;
    
}
.person img{
    width: 200px;
    margin-top: 20px;
    border-radius: 40px;
    box-shadow: 5px 0px 10px 10px rgb(197, 195, 195);
    
} 
.person img:hover{
   width: 350px;
   height: 250px;
}
.btn-cart{
    background-color: rgb(243, 193, 85);
    border: 1px solid rgb(179, 123, 34);
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn-cart:hover{
    background-color: rgb(231, 135, 26);
    color: snow;
}
.linkdin{
  margin-right: 10px;

}